
<h2>Casier Judiciaire • Dossier confidentiel</h2>

<div id="presentation">
  <aside id="suspect_picture">
    <img src="@routes.Assets.at("/images/character/Lannanonymous.jpg")"/>
    <img src="@routes.Assets.at("images/character/LannanonymousProfile.jpg")"/>
  </aside>

  <div id="suspect_text">
    <h3>Profil du suspect</h3>

    <ul>
      <li id="suspect_case_id">
        <em>Numéro du dossier :</em>
        <span class="field">20129 à 20173</span>
      </li>
    </ul>

    <ul class="names">
      <li id="suspect_name" class="bi-splited">
        <em>Nom :</em>
        <span class="field">inconnu</span>
      </li>
      <li id="suspect_firstname" class="bi-splited">
        <em>Prénom :</em>
        <span class="field">inconnu</span>
      </li>
    </ul>

    <ul class="birth">
      <li id="suspect_birthdate">
        <em>Date de naissance :</em>
        <span class="field">inconnu</span>
      </li>
      <li id="suspect_birthplace">
        <em>Lieu de naissance :</em>
        <span class="field">inconnu</span>
      </li>
    </ul>

    <ul class="gender">
      <li id="suspect_gender">
        <em>Sexe :</em>
        <span class="field">féminin</span>
      </li>
    </ul>

    <ul class="physical">
      <li id="suspect_weight" class="bi-splited">
        <em>Poids :</em>
        <span class="field">de 60kg à 80kg</span>
      </li>
      <li id="suspect_size" class="bi-splited">
        <em>Taille :</em>
        <span class="field">de 160cm à 185cm</span>
      </li>
    </ul>

    <ul class="face">
      <li id="suspect_eyes" class="bi-splited">
        <em>Yeux :</em>
        <span class="field">incertain</span>
      </li>
      <li id="suspect_skin" class="bi-splited">
        <em>Peau :</em>
        <span class="field">blanche</span>
      </li>
      <li id="suspect_hairs">
        <em>Cheveux :</em>
        <span class="field">incertain</span>
      </li>
    </ul>

    <ul class="gang">
      <li id="suspect_gang">
        <em>Appartenance à un gang / club :</em>
        <span class="field">Aucun lien connu à ce jour</span>
      </li>
    </ul>

    <ul class="vehicle">
      <li id="suspect_vehicle">
        <em>Vehicule :</em>
        <span class="field">inconnu</span>
      </li>
    </ul>

  </div>
</div>

<div id="inventaire">
  <h2>Indices sur l'affaire</h2>
  <em>Inventaire :</em>
  <ul>
    <li>5 Pokéballs</li>
    <li>1 Potions</li>
    <li>1 Pierre eau</li>
    <li>1 Super Canne</li>
    <li>2 Super Bonbons</li>
  </ul>
</div>
