@(chapters: Seq[Chapter])

@solo() = {
  <a class="topic_featuring solo"></a>
}

@someone(character: Character) = {
  <a class="topic_featuring @character.className" href="@character.link">
    @character.name
  </a>
}

@for(chapter <- chapters) {
  <h2>Plan @chapter.name • @chapter.title</h2>

  <div class="summary">
    <div class="summary_pictures">
      <img src="@routes.Assets.at(s"images/posts/${chapter.image}")"/>
    </div>
    <div class="summary_text">
      <em>@chapter.subject</em>
      @chapter.summary
    </div>
  </div>

  @for(topic <- chapter.topics) {
    <div class="topic @topic.status.toString">
      <a class="topic_title" href="@topic.link">
      @topic.title
      </a>

      @{ topic.featuring match {
        case Solo() => solo()
        case Someone(c) => someone(c)
      }}

    </div>
  }

    <!--<h2>Plan C • Back in Business</h2>-->
}
